<!-- Animated -->
<div class="animated fadeIn">
    <!-- Widgets  -->
    <!-- <div class="row">
        <div class="col-lg-3 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="pe-7s-cash"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text">$<span class="count">23569</span></div>
                                <div class="stat-heading">Revenue</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="pe-7s-cart"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">3435</span></div>
                                <div class="stat-heading">Sales</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <i class="pe-7s-browser"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">349</span></div>
                                <div class="stat-heading">Templates</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="pe-7s-users"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">2986</span></div>
                                <div class="stat-heading">Clients</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="clearfix"></div>
    <!-- Orders -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title box-title">Demandas</h4>
                    <div class="card-content">
                        <div class="todo-list">
                            <div class="tdl-holder">
                                <div class="tdl-content">
                                    <ul>
                                        <li *ngFor="let d of demandas; let i = index" style="position: relative" (click)="showDetailDemanda(d)">
                                            <label>
                                                <span>
                                                    {{d.dem_detalhes}}
                                                </span>
                                            </label>
                                            <a class="fa fa-times" style="cursor: pointer; z-index: 9; position: absolute; right: 10px; top: 25px;"></a>
                                            <a (click)="finalizarDemanda(d)" class="fa fa-check" style="cursor: pointer; z-index: 9; position: absolute; right: 35px; top: 25px;"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- /.todo-list -->
                    </div>
                </div> <!-- /.card-body -->
            </div><!-- /.card -->
        </div>
    </div>

    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card" style="max-height: 800px; min-height: 600px">
                    <div class="card-body">
                        <h4 class="box-title">Chamados </h4>

                        <div class="table-stats order-table ov-h"
                            style="margin-top: 15px; max-height: 700px; overflow-Y: auto; min-height: 600px">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>ID</th>
                                        <th>Sistema</th>
                                        <th>Descrição</th>
                                        <th>Data</th>
                                        <th>Tipo</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of chamados; let i = index" (click)="showDetail(c)">
                                        <td class="serial">{{i}}.</td>
                                        <td> #{{c.id}} </td>
                                        <td> <span class="name">{{c.sis_nome}}</span> </td>
                                        <td> <span class="product">{{c.detalhes}}</span> </td>
                                        <td> <span class="product">{{c.sol_data}}</span> </td>
                                        <td> <span class="badge badge-light" style="color: #000">{{c.tipo}}</span>
                                        </td>
                                        <td>
                                            <span class="badge badge-{{
                                                                      c.classe == 'Aberto' ? 'danger': 
                                                                      c.classe == 'Fechado' ? 'complete': 
                                                                      c.classe == 'Analisando' ? 'pending': 'info'
                                                                    }}">{{c.classe}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div> <!-- /.col-lg-8 -->
        </div>
    </div>
</div>
<!-- .animated -->