<div class="card">
  <div class="card-body">
    <h4 class="card-title box-title">
      Solicitacao #{{this.pageParams.params.id}}

      <button *ngIf="this.pageParams.params.classe == 'Aberto'" class="btn btn-primary" style="float: right"
        (click)="gerarDemanda(this.pageParams.params)">
        Gerar demanda
      </button>

      <button class="btn btn-primary" *ngIf="this.pageParams.params.classe == 'Analisando'"
        style="float: right; margin-right: 10px" (click)="finalizar(this.pageParams.params)">
        Finalizar
      </button>
    </h4>

    <div class="card-content">
      <div style="display: table; margin: auto; text-align: center;" style="width: 100%">
        <p style="font-weight: bold">Detalhes: </p>
        <div
          style="background: #fefefe; display: table; margin: auto; width: 100%; border-radius: 2px; border: 1px solid #212121">
          <p style="padding: 4px 4px 6px">{{this.pageParams.params.detalhes || this.pageParams.params.sol_detalhes}}</p>
        </div>
      </div>
      &nbsp;
      <div style="display: table; margin: auto; text-align: center; position: relative; top: 4%" style="width: 100%">
        <p style="font-weight: bold">Anexos: </p>
        <div
          style="background: #fefefe; display: table; margin: auto; width: 100%; border-radius: 2px; border: 1px solid #212121">

          <div class="row">
            <div class="col-lg-4" *ngFor="let i of fotos" style="margin: 4px" (click)="showImage('https://technoxinformatica.com.br/atendimento/assets/images_solicitacao/' + i.img_url)">
              <img [src]="'https://technoxinformatica.com.br/atendimento/assets/images_solicitacao/' + i.img_url">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>