<div class="sufee-login d-flex align-content-center flex-wrap">
  <div class="container">
    <div class="login-content">
      <div class="login-logo">
        <a>
          <img class="align-content" src="./assets/logo.png" alt="" width="35%">
          <small>TechnoX Informática &copy;</small>
        </a>
      </div>
      <div class="login-form">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" placeholder="E-mail" [(ngModel)]="user">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" (keydown.enter)="login()" class="form-control" placeholder="Senha"
            [(ngModel)]="senha">
        </div>

        <button (click)="login()" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
      </div>
    </div>
  </div>
</div>