/* You can add global styles to this file, and also import other style files */

.clickable:hover{
    box-shadow: 1px 2px 4px rgba(0,0,0,.2)
}

.clickable{
    cursor: pointer;
}

.modal-95{
    width: 95%;
}

.modal-70{
    width: 70%;
}