<!-- Animated -->
<div class="animated fadeIn">
  <!-- Widgets  -->
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-1">
              <i class="pe-7s-back-2"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-text">{{this.chamados_total}}</div>
                <div class="stat-heading">Chamados</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-2">
              <i class="pe-7s-next-2"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-text">{{this.chamados_fechados}}</div>
                <div class="stat-heading">Chamados fechados</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-3">
              <i class="pe-7s-browser"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-text">{{this.chamados_abertos}}</div>
                <div class="stat-heading">Chamados abertos</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-4">
              <i class="pe-7s-hourglass"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-text">{{this.horas_bonus}}</div>
                <div class="stat-heading">Horas bonus</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SOLICITACOES -->

  <!-- <div class="row">
    <div class="col-lg-2 col-md-3">
      <div class="card clickable" (click)="abrirSolicitacao()">
        <div class="card-body">
          <div class="stat-text">+</div>
          <div class="stat-heading">Nova solicitação</div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="clearfix"></div>
  <!-- Orders -->
  <div class="orders">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="box-title">
              Chamados
              &nbsp;
              <button (click)="getSolicitacoes()" class="btn btn-outline-success"
                style="font-size: 12px; border-radius: 100px; width: 32px; height: 32px; ">
                <i class="material-icons" style="position: relative;right: 9px;bottom: 2px;">refresh</i>
              </button>
            </h4>

            <button (click)="novoChamado()" class="btn btn-outline-success btn-flat"
              style="float: right; position: relative; bottom: 15px">
              Abrir chamado
            </button>
          </div>
          <div class="card-body--">
            <div class="table-stats order-table ov-h">
              <table class="table ">
                <thead>
                  <tr>
                    <th class="serial">#</th>
                    <th>ID</th>
                    <th>Sistema</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Tipo</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of chamados; let i = index" (click)="showDetail(c)">
                    <td class="serial">{{i}}.</td>
                    <td> #{{c.sol_id}} </td>
                    <td> <span class="name">{{c.sis_nome}}</span> </td>
                    <td> <span class="product">{{c.sol_detalhes}}</span> </td>
                    <td> <span class="product">{{c.sol_data}}</span> </td>
                    <td> <span class="badge badge-light" style="color: #000">{{c.sol_tipo}}</span> </td>
                    <td>
                      <span class="badge badge-{{
                                            c.sol_classe == 'Aberto' ? 'danger': 
                                            c.sol_classe == 'Fechado' ? 'complete': 
                                            c.sol_classe == 'Analisando' ? 'pending': 'info'
                                          }}">{{c.sol_classe}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div *ngIf="this.chamados.length < 1">
                <i class="material-icons" style="font-size: 24px; display: table; margin: auto">mood</i>
                <span style="display: table; margin: 15px auto">Nenhum chamado registrado</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <!-- <div class="col-lg-6">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title box-title">To Do List</h4>
                  <div class="card-content">
                      <div class="todo-list">
                          <div class="tdl-holder">
                              <div class="tdl-content">
                                  <ul>
                                      <li>
                                          <label>
                                              <input type="checkbox"><i class="check-box"></i><span>Conveniently fabricate interactive technology for ....</span>
                                              <a href='#' class="fa fa-times"></a>
                                              <a href='#' class="fa fa-pencil"></a>
                                              <a href='#' class="fa fa-check"></a>
                                          </label>
                                      </li>
                                      <li>
                                          <label>
                                              <input type="checkbox"><i class="check-box"></i><span>Creating component page</span>
                                              <a href='#' class="fa fa-times"></a>
                                              <a href='#' class="fa fa-pencil"></a>
                                              <a href='#' class="fa fa-check"></a>
                                          </label>
                                      </li>
                                      <li>
                                          <label>
                                              <input type="checkbox" checked><i class="check-box"></i><span>Follow back those who follow you</span>
                                              <a href='#' class="fa fa-times"></a>
                                              <a href='#' class="fa fa-pencil"></a>
                                              <a href='#' class="fa fa-check"></a>
                                          </label>
                                      </li>
                                      <li>
                                          <label>
                                              <input type="checkbox" checked><i class="check-box"></i><span>Design One page theme</span>
                                              <a href='#' class="fa fa-times"></a>
                                              <a href='#' class="fa fa-pencil"></a>
                                              <a href='#' class="fa fa-check"></a>
                                          </label>
                                      </li>

                                      <li>
                                          <label>
                                              <input type="checkbox" checked><i class="check-box"></i><span>Creating component page</span>
                                              <a href='#' class="fa fa-times"></a>
                                              <a href='#' class="fa fa-pencil"></a>
                                              <a href='#' class="fa fa-check"></a>
                                          </label>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->

    <!-- <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title box-title">Chat</h4>
                  <div class="card-content">
                      <div class="messenger-box">
                          <ul>
                              <li>
                                  <div class="msg-received msg-container">
                                      <div class="avatar">
                                         <img src="images/avatar/64-1.jpg" alt="">
                                         <div class="send-time">11.11 am</div>
                                      </div>
                                      <div class="msg-box">
                                          <div class="inner-box">
                                              <div class="name">
                                                  John Doe
                                              </div>
                                              <div class="meg">
                                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sunt placeat velit ad reiciendis ipsam
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="msg-sent msg-container">
                                      <div class="avatar">
                                         <img src="images/avatar/64-2.jpg" alt="">
                                         <div class="send-time">11.11 am</div>
                                      </div>
                                      <div class="msg-box">
                                          <div class="inner-box">
                                              <div class="name">
                                                  John Doe
                                              </div>
                                              <div class="meg">
                                                  Hay how are you doing?
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                          <div class="send-mgs">
                              <div class="yourmsg">
                                  <input class="form-control" type="text">
                              </div>
                              <button class="btn msg-send-btn">
                                  <i class="pe-7s-paper-plane"></i>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
  </div>
</div>